 <div class="card bg-secondary text-white">
            <div class="card-body">
              <h4 class="card-title">{{recipe.recipeName}}</h4>
              <h6 *ngIf="recipe.vegetarian">Vegetarian</h6>
                <h6 *ngIf="!recipe.vegetarian">Non Vegetarian</h6> 
            </div>
            <table class="table">               
              <tr >
               <td> <button type="button" class="btn btn-light" [routerLink]="['/recipe',recipe.recipeId]" >View Recipe</button></td>
                <td> <button type="button" class="btn btn-primary" [routerLink]="['/updateRecipe',recipe.recipeId]">Edit</button></td>
                <td> <button type="button" class="btn btn-danger" (click)="delete()"> Remove </button></td>
            </tr>
            </table>         

          </div>
  

  